extends ../layout

block content
  header.max-size
    .header-caption
      .container
        .jumbotron.parallax
          h1.text-center Welcome to #{title}
          p= intro
          a.btn.btn-primary(href="/contact") Contact Us
  .container
    h1 #{title}
    h1 #{title}
    h1 #{title}
    h1 #{title}
    h1 #{title}
    h1 #{title}
    h1 #{title}
    h1 #{title}
    h1 #{title}
    h1 #{title}
    h1 #{title}
    h1 #{title}
    h1 #{title}
    h1 #{title}
    h1 #{title}
    h1 #{title}
    h1 #{title}
    h1 #{title}
    h1 #{title}
    h1 #{title}
    h1 #{title}
    h1 #{title}
    h1 #{title}
    h1 #{title}
    h1 #{title}
    h1 #{title}
    h1 #{title}
    h1 #{title}
    h1 #{title}
    h1 #{title}
    h1 #{title}
    h1 #{title}
    h1 #{title}
    h1 #{title}
    h1 #{title}
    h1 #{title}
    h1 #{title}
    h1 #{title}
    h1 #{title}
    h1 #{title}
    h1 #{title}